div .carousel-item {
    margin-top: $px;
}

.carousel p {
    font-size: 17px;
}

h5 {
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Spline Sans', sans-serif;
}