.n-right {

    background-image: url(../imagenes/imgVision.png);
    height: $px7;
    width: $px7;
    background-repeat: no-repeat;
    
}

.n-right2 {

    background-image: url(../imagenes/colombia.png);
    height: $px7;
    width: $px7;
    background-repeat: no-repeat;


}
section .textN {
    color: rgb(230, 46, 174);
    margin-left: 15%;
    margin-top: 20px;

}