.nosotros {
    $redes: (red1: #fffff0,
            red2: #eff4fe,
        );

    @each $red,
    $color in $redes {
        .btn--#{$red} {
            margin-top: 50px;
            background-color: #eff4fe;
            height: 70px;
            width: 400px;
            color: #e62eae;
            border: 1px solid #ffddf2;
            margin: auto;
            margin-right: 40%;
            margin-left: 35%;
            color: #fff;

        }
    }
}

.container-fluid {
    .n-right {
        background-image: url(../imagenes/imgVision.png);
        height: $px7;
        width: $px7;
        background-repeat: no-repeat;
        margin-left: 60%;
        margin-top: 50px;
    }

    & .n-right2 {
        background-image: url(../imagenes/colombia.png);
        height: $px7;
        width: $px7;
        background-repeat: no-repeat;
        margin-left: 60%;
    }
}

section .textN {
    color: rgb(230, 46, 174);
    margin: auto;
    margin-top: 20px;
    text-align: center;
}
.nosotros p{
margin-right: 0px;
text-align: center;
margin-left: 50%;
}
