$color1: #ffddf2;
$color2: #f793c1;
$color3: #194e9e;
$color4: #2d365e;
$px:50px;
$px2:40px;
$px3:30px;
$px4:15px;
$px5:100px;
$px6:150px;
$px7:300px;
@import "footer2";
@import "index2";
@import "titulos";
@import "contacto2";
@import "nosotros2";
@import "productos2";
@import "ubicacion2";
@import "responsive2";




